<dt><%= article.title %></dt>
<blockquote><%= article.description%></blockquote>
<% if article.logo.present? %>
    <div>
      <ul class="clearing-thumbs small-block-grid-4" data-clearing>
    <li><a href="<%= article.logo.thumb.url %>">
      <img src="<%= article.logo.thumb.url %>"></a></li>
          </ul>
        </div>
<% end %>
<p><%= article.text%></p>