<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

<body>
          <ul class="title-area">
            <h1><a href="/">Admin Paneli</a></h1>
          </ul>
          <section class="top-bar-section">
            <table>
            <tr>
              <td><%=link_to "Bilg. Blm. Yönet", category_path(1) %></td>
              <td><%=link_to "Seyahatleri Yönet" , category_path(2)%></td>
              <td><%=link_to "Edebiyatları Yönet", category_path(3)%></td>
              <td><%=link_to "Galerileri Yönet", category_path(4)%></td>
               <td><a href="<%=articles_path%>">Arşivi Yönet</a></td>
               <td><a href="<%=welcome_about_path%>">Hakkımdayı Yönet</a>
               </tr>
        </table>
      </section>
        <div class="row">
          <%= yield %>
        <%= javascript_include_tag "application" %>
        </div>
  </body>
</html>
