<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : "" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<center>
  <div class="orbit-container">
    <ul class="example-orbit" data-orbit>
      <li>
        <img src="/uploads/image/image/24/thumb_budapeste1.jpg" alt="slide 1"/>
        <div class="orbit-caption">
          Budapest
        </div>
      </li>
      <li class="active">
        <img src="/uploads/image/image/27/thumb_istanbul.jpg" alt="slide 2"/>
        <div class="orbit-caption">
          Istanbul
        </div>
      </li>
      <li>
        <img src="/uploads/image/image/28/thumb_antakya_site_2.jpg" alt="slide 3"/>
        <div class="orbit-caption">
          Antakya
        </div>
      </li>
    </ul>
  </div>
</center>

<body>
<div class="contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Home</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul>
        <li class="divider"></li>
        <li><%= link_to "Computer Science", category_path(1) %></li>
        <li class="divider"></li>
        <li><%= link_to "Travels", category_path(2) %></li>
        <li class="divider"></li>
        <li><%= link_to "Art", category_path(3) %></li>
        <li class="divider"></li>
        <li><%= link_to "Gallery", category_path(4) %></li>
        <li class="divider"></li>
      </ul>
      <ul class="right">
        <li><a href="<%= articles_path %>">Archive</a></li>
        <li class="divider"></li>
        <li><a href="<%= welcome_about_path %>">About Me</a></li>
      </ul>
    </section>
  </nav>
</div>

<div class="row">
  <%= yield %>
</div>
<%= javascript_include_tag "application" %>
<footer>
  Copyright &copy; 2014 sadikay.com
</footer>
</body>
</html>
